@using BOTS.Data.Models
@model CreateUserPresetViewModel

@{
    ViewData["Title"] = "Create Preset";
}

<div class="offset-md-3 col-md-6">
    <h1 class="text-center">Create Preset</h1>

    <form method="post" asp-action="CreatePreset">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="@this.Model.Preset.Name"></label>
            <input class="form-control" asp-for="@this.Model.Preset.Name" />
            <span class="invalid-feedback" asp-validation-for="@this.Model.Preset.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Preset.CurrencyPairId"></label>
            <select class="form-select" asp-for="@this.Model.Preset.CurrencyPairId" asp-items="@this.Model.CurrencyPairs"></select>
            <span class="invalid-feedback" asp-validation-for="@this.Model.Preset.CurrencyPairId"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Preset.ChartType"></label>
            <select class="form-select" asp-for="@this.Model.Preset.ChartType" asp-items="@Html.GetEnumSelectList<ChartType>()"></select>
            <span class="invalid-feedback" asp-validation-for="@this.Model.Preset.ChartType"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.Preset.Payout"></label>
            <input class="form-control" asp-for="@this.Model.Preset.Payout" />
            <span class="invalid-feedback" asp-validation-for="@this.Model.Preset.Payout"></span>
        </div>

        <button type="submit" class="btn btn-primary offset-sm-5 col-sm-2">Create</button>
    </form>
</div>
