@using BOTS.Data.Models
@model UserPresetsViewModel

@{
    ViewData["Title"] = "Presets";
}

<div class="offset-sm-0 col-sm-12 offset-lg-2 col-lg-8">
    <h1 class="text-center">User Presets</h1>

    <a class="btn btn-primary d-block w-50 mx-auto my-3" asp-action="CreatePreset">Create a new preset</a>

    <div class="d-flex flex-md-nowrap flex-wrap gap-4">
        <div class="dropdown w-100" style="flex-basis: 200%;">
            @{
                var selectedPreset = this.Model.UserPresets.First(x => x.Id == this.Model.CurrentPreset.Id);
            }
            <a class="btn border-secondary dropdown-toggle w-100 text-left" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                @selectedPreset.Name
            </a>

            <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                @foreach (var preset in this.Model.UserPresets)
                {
                    <li><a class="dropdown-item" asp-action="Presets" asp-route-id="@preset.Id">@preset.Name</a></li>
                }
            </ul>
        </div>

        @if (this.Model.CurrentPreset.IsActive)
        {
            <button class="btn btn-success container-fluid" disabled>Active</button>
        }
        else
        {
            <a class="btn btn-success container-fluid" asp-action="SetActivePreset" asp-route-id="@this.Model.CurrentPreset.Id">Make active</a>
        }
    </div>

    <form method="post" asp-action="Presets" asp-route-id="@this.Model.CurrentPreset.Id">
        <div asp-validation-summary="All"></div>

        <input asp-for="@this.Model.CurrentPreset.Id" hidden />

        <div class="form-group">
            <label asp-for="@this.Model.CurrentPreset.Name"></label>
            <input class="form-control" asp-for="@this.Model.CurrentPreset.Name" />
            <span class="invalid-feedback" asp-validation-for="@this.Model.CurrentPreset.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.CurrentPreset.CurrencyPairId"></label>
            <select class="form-select" asp-for="@this.Model.CurrentPreset.CurrencyPairId" asp-items="@this.Model.CurrencyPairs"></select>
            <span class="invalid-feedback" asp-validation-for="@this.Model.CurrentPreset.CurrencyPairId"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.CurrentPreset.ChartType"></label>
            <select class="form-select" asp-for="@this.Model.CurrentPreset.ChartType" asp-items="@Html.GetEnumSelectList<ChartType>()"></select>
            <span class="invalid-feedback" asp-validation-for="@this.Model.CurrentPreset.ChartType"></span>
        </div>
        <div class="form-group">
            <label asp-for="@this.Model.CurrentPreset.Payout"></label>
            <input class="form-control" asp-for="@this.Model.CurrentPreset.Payout" />
            <span class="invalid-feedback" asp-validation-for="@this.Model.CurrentPreset.Payout"></span>
        </div>
        <div class="d-flex justify-content-center gap-4">
            <button type="submit" class="btn btn-primary">Update</button>
            <a class="btn btn-danger" asp-action="RemovePreset" asp-route-id="@this.Model.CurrentPreset.Id">Delete</a>
        </div>
    </form>
</div>
